.card__container {
  border: 2px solid transparent;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--white);
  transition: all 0.3s ease;

  @include respond(tab-port) {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.card {
  text-decoration: none;
  background-color: var(--white);
  //   max-width: 25rem;
  cursor: default;
  width: 100%;
  height: 40rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.07);
  // border-radius: 1rem 1rem 0 0;
  border: 2px solid transparent;
  // border-radius: 0.5rem;
  outline: none;
  transition: border 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  padding-bottom: 0rem;
  overflow: hidden;
  @include respond(phone) {
    height: 32rem;
  }
  &:hover {
    background-color: var(--white);
    border: 2px solid var(--grey-light);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);

    .card__media {
      transform: scale(1.02);
    }

    .card__title {
      color: var(--grey-dark);
    }
    .card__icon {
      color: var(--grey-mid);
    }

    & + .card__site-btns .card__site-btn {
      background-color: var(--white);
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  &:focus {
    border: 2px solid var(--color-primary);

    .card__title {
      color: var(--black);
    }
  }

  &:active {
    background-color: var(--grey-light);
    border: 2px solid var(--grey-mid);
  }

  &__media {
    position: relative;
    background-position-y: 0;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 64%;
    width: 100%;
    transition: all 0.3s ease;
    filter: grayscale(30%);

    @include respond(phone) {
      height: 52%;
    }
    // &::before {
    //   background-color: rgb(255, 245, 245);
    //   content: "";
    //   // display: block;
    //   width: 100%;
    //   height: 100%;
    //   mix-blend-mode: multiply;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }

    // &::after {
    //   background-color: rgb(74, 1, 190);
    //   content: "";
    //   // display: block;
    //   width: 100%;
    //   height: 100%;

    //   mix-blend-mode: multiply;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
    &--1 {
      background-image: url("../assets/imgs/jacob-photo.jpg");
    }
    &--2 {
      background-image: url("../assets/imgs/quarantine.jpg");
    }
    &--3 {
      background-image: url("../assets/imgs/tasks.jpg");
    }
    &--4 {
      background-image: url("../assets/imgs/cineola.jpg");
    }
    &--5 {
      background-image: url("../assets/imgs/andrea-photo.jpg");
    }
    &--6 {
      background-image: url("../assets/imgs/pokedex.jpg");
    }
  }

  &__icon {
    position: absolute;
    // z-index: 1;
    bottom: 2.4rem;
    right: 2rem;
    font-size: var(--badge-text);
    padding: 1rem;
    color: var(--grey-mid);
  }

  &__title {
    padding: 2rem;

    color: var(--grey-dark);
    @include respond(tab-land) {
      font-size: 1.2rem;
    }
    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__site-btns {
    // text-decoration: none;
    // white-space: nowrap;
    // cursor: pointer;
    // font-size: 1rem;
    // font-weight: 500;
    position: absolute;
    bottom: 3.2rem;
    left: 2rem;
    // padding: 0.5rem 1rem;
    // background-color: transparent;
    // border: 1px solid transparent;
    // border-radius: 0.3rem;
    // color: var(--grey);
    // text-transform: uppercase;
    // outline: none;
    // transition: all 0.3s ease;

    // @include respond(phone) {
    //   font-size: 0.6rem;
    // }
    .card__site-btn {
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;

      padding: 0.5rem 1rem;
      background-color: transparent;
      border: 1px solid transparent;
      // border-radius: 0.3rem;
      color: var(--grey);
      text-transform: uppercase;
      outline: none;
      transition: all 0.3s ease;

      @include respond(phone) {
        font-size: 1.2rem;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
      }
      &:focus {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
      }

      &:hover {
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
        color: var(--white);
      }

      &:active {
        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);
      }
    }
  }
}
