.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $white;
    justify-content: center;
    align-content: center;
}

.item {
    grid-column: 1/-1;
}

// .flex-row {
//     display: flex;
//     justify-content: space-between;
//     align-content: baseline;

//     &__item {
//         flex: 1;
//     }
// }
