@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");

@font-face {
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;500;700&display=swap");

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--black);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--h1);
    font-weight: 700;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--h2);
    font-weight: 700;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--h3);
    font-weight: 500;
    @include respond(phone) {
        font-size: var(--h4);
    }
}

h4 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--h4);
    color: var(--blue);

    font-weight: 300;
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
    @include respond(phone) {
        font-size: var(--p-small);
    }
}
p {
    font-size: var(--h6);
    @include respond(phone) {
        font-size: var(--p-small);
    }
}
span {
    color: var(--blue);
}

a {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: var(--h6);
    color: var(--grey);

    &:hover {
        color: var(--blue);
    }
    @include respond(phone) {
        font-size: var(--p-small);
    }
}

button {
    font-family: "IBM Plex Mono", sans-serif;
}
//UTILITY TYPOGRAPHY

.heading {
    &__title {
        margin-bottom: var(--spacing-xs);
    }
    p {
        max-width: 48rem;
    }
}
.paragraph {
    font-weight: 400;
    font-size: --h5;
    line-height: 1.3;

    &__small {
        font-size: 1.5rem;
    }
    &__grey {
        color: --grey;
    }
}

.small-uppercase {
    font-size: --p-small;
    text-transform: uppercase;
    letter-spacing: 2px;
}
