@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700");

@font-face {
    src: url(../assets/fonts/Agrandir-regular.otf);
    font-family: "Agrandir";
    font-weight: 400;
}

body {
    font-family: "Agrandir", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $dark-text;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}

h6 {
    font-size: $p-small;
}

//UTILITY TYPOGRAPHY
.paragraph {
    font-weight: 400;
    font-size: $h5;
    line-height: 1.3;

    &__small {
        font-size: 1.5rem;
    }
    &__grey {
        color: $light-text;
    }
}

.small-uppercase {
    font-size: $p-small;
    text-transform: uppercase;
    letter-spacing: 2px;
}
