.contact {
  position: relative;

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port1) {
      flex-direction: column;
    }
  }
  &__item {
    &:not(last-child) {
      margin-bottom: var(--spacing-xxs);
    }
  }
  &__link {
    text-decoration: underline;
    position: relative;
    padding-bottom: var(--spacing-xxxs);
    padding: 0.2rem;
    border: 1px solid transparent;
    &:focus {
      outline: none;
      border: 1px solid var(--blue);
    }

    // &:hover::after,
    // &:hover:after {
    //     transform: scaleX(100%);
    // }
    // &::after,
    // &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    //     background-color: var(--blue);
    //     height: 0.1rem;
    //     width: 100%;
    //     transform: scaleX(0);
    //     transition: transform 0.3s ease;
    //     transform-origin: left;
    // }
  }
}
