main {
  & > * {
    padding: var(--spacing-huge) 0;
    @include respond(phone) {
      padding: var(--spacing-large) 0;
    }
  }
  @include respond(desktop) {
    grid-column: col-start 4 / col-end 8;
  }
}
