main {
    grid-column: col-start 3 / col-end 10;
    justify-self: center;
    align-self: center;
    @include respond(desktop) {
        grid-column: col-start 4 / col-end 8;
    }
    @include respond(phone) {
        justify-self: auto;
        align-self: auto;
        grid-column: page-start 1 / page-end;
    }
}
