.navigation {
  // padding: var(--spacing-xl) 0;

  position: relative;
  .animate-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey-light);
    // background-color: orangered;
    transform-origin: left;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include respond(tab-port1) {
      flex-direction: column;
    }
  }
  &__item {
    &:not(last-child) {
      margin-bottom: var(--spacing-xxs);
    }
  }
  &__link {
    text-decoration: underline;
    position: relative;
    padding-bottom: var(--spacing-xxxs);

    // &:hover::after,
    // &:hover:after {
    //     transform: scaleX(100%);
    // }
    // &::after,
    // &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    //     background-color: var(--blue);
    //     height: 0.1rem;
    //     width: 100%;
    //     transform: scaleX(0);
    //     transition: transform 0.3s ease;
    //     transform-origin: left;
    // }
  }
}
