.navigation {
    margin-top: var(--spacing-small);
    &__list {
        list-style: none;
    }
    &__item {
        &:not(last-child) {
            margin-bottom: var(--spacing-xxs);
        }
    }
    &__link {
        text-decoration: none;
        position: relative;
        padding-bottom: var(--spacing-xxxs);

        &:hover::after,
        &:hover:after {
            transform: scaleX(100%);
        }
        &::after,
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            background-color: var(--blue);
            height: 0.1rem;
            width: 100%;
            transform: scaleX(0);
            transition: transform 0.3s ease;
            transform-origin: left;
        }
    }
}
