// Import partials from partial folders

// ABSTRACTS
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// BASE
@import "base/animations";
@import "base/reset";
@import "base/typography";
@import "base/utilities";

// COMPONENTS
@import "components/buttons";
@import "components/card";
@import "components/grid";

// LAYOUT
@import "layout/footer";
@import "layout/hero";
@import "layout/header";
@import "layout/menu";
@import "layout/navigation";

// PAGES
@import "pages/home";
